* {
  box-sizing: border-box;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
}
.footer {
  height: 40px;
  background-color: green;
  display: flex;
}
.ul1 {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
 
}
.list1{
margin-left: 16px;
}
.span {
  margin: auto;
}
.main {
  flex-grow: 1;
  display: flex;
}
.section {
  display: flex;
  flex-grow: 1;
  background-color: pink;
  justify-content: center;
  align-items: center;
}
.aside {
  width: 200px;
  background-color: gray;
}

.news {
  display: flex;
}
h2 {
  justify-content: center;
  margin: 16px 0;
}
.ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list2 {
  height: 40px;
  margin-left: 16px;
}
