* {
  box-sizing: border-box;
}
.list {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: lowercase;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.container_block {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 200px;
  justify-content: center;
  align-items: center;
}
.navigation {
  background-color: #ff7f50;
}
.product_list {
  background-color: #006400;
}
.news {
  background-color: #0ff;
}
@media screen and (max-width: 599px) {
  .container_block {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 600px) {
  .container_block {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 900px) {
  .container_block {
    flex-basis: 33.33%;
  }
}
